.vs/
publish/
publishLinux/
Core/bin/
Core/obj/
Data/bin/
Data/obj/
EmailService/bin/
EmailService/obj/
Entidades/bin/
Entidades/obj/
Servicios/Localization/bin/
Servicios/Localization/obj/
Servicios/FoolProof.Core/bin/
Servicios/FoolProof.Core/obj/
Servicios/RazorLight/bin/
Servicios/RazorLight/obj/
Web/bin/
Web/obj/
Web/Logs/
Web/.config/dotnet-tools.json
DataIot/bin/
DataIot/obj/
DataPublic/bin/
DataPublic/obj/
Servicio/bin/
Servicio/obj/
WebApi/bin/
WebApi/obj/
WebApi/file/
